html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: .75em;
  background-color: #fff;
}

h1 {
  color: #623b0c;
  margin: .25em 0;
  font-family: "Denk One";
}

h2 {
  font-family: "Denk One", serif;
  color: #623b0c;
  margin-top: .2em;
}

ol {
  list-style: none;
  margin: .3em;
  padding-top: .6em;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  border-radius: 8px;
}

li {
  border: 2px solid #623b0c;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #ede3db;
}

a {
  background-color: #623b0c;
  color: #fff;
  border-radius: 8px;
  padding: .6em;
  justify-content: flex-start;
  text-decoration: none;
  margin-top: auto;
}

img {
  width: 100%;
  display: block;
}

p {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
